@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

:root {
    --font-family-1: 'Helvetica Neue', sans-serif;
    --font-color-1: #111111;
    
    --color-brand-1: #b83f45;
    --color-brand-2: #b850559c;

    --color-background: #f5f5f5;

    --color-grey-4: #121214;
    --color-grey-3: #212529;
    --color-grey-2: #343B41;
    --color-grey-1: #949494;
    --color-grey-0: #eeeeee;
    --fixed-white: #FFFFFF;
}