@import "./reset.scss";
@import "./global.scss";

body {
    font-family: var(--font-family-1);

    #root {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .formAndListSection {
            width: 80%;
            max-width: 550px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.26);
        }
    }
}
